<ul *ngIf="tasks.length == 0">
    <li><p>There Is No Tasks Now</p></li>
</ul>
<ul class="tasks-list">
    <li class="list" *ngFor="let task of tasks; index as i">
        <div class='input'>
            <input name="taskCheck" type="checkbox" [value]="task.id" [(ngModel)]="task.isCompleted">
            <label [ngClass]="{'del' : task.isCompleted, 'notDel' : !task.isCompleted}">{{task.task}}</label>
        </div>
        <div class='controls' >
            <button [disabled]="task.isCompleted" class="btn btn-success" [routerLink]="['task/', i]">Edit</button>
            <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
        </div>
    </li>
</ul>
<hr>
<app-tasks-control></app-tasks-control>
